

.title {
  font-size:xx-large;
  color: #3A3042;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.uname {
  font-size: small;
  color: #3A3042;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.psw {
  font-size: small;
  color: #3A3042;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.button {
    background-color: #3A3042; 
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
hr { 
    background-color: #3A3042; height: 1px; border: 0;
    width:70%;
    margin:0 auto;
    
  }

input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #EDFFD9;
}

body {
  background-color: #FFE19C;
}